{% extends 'homepage/layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="container mt-5">
        <div class="mb-4">
            <div>
                <button class="btn btn-primary" onclick="toggleForm()">Create Project</button>
            </div>
            <div id="formContainer" style="display:none;">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="box-border">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>Recent Projects</h2>
                </div>
                <ul>
                    {% for project in projects %}
                    <li>
                        {{ project.name }} by {{ project.user.username }} (Last modified: {{ project.last_modified }})
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <script>
        function toggleForm() {
            var formContainer = document.getElementById('formContainer');
            if (formContainer.style.display === 'none') {
                formContainer.style.display = 'block';
            } else {
                formContainer.style.display = 'none';
            }
        }
    </script>
{% endblock %}
