{% extends 'homepage/layout.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div>
    <div>
        <button>Create Project</button>
    </div>
    <div>
        <span>Recent Project</span>
        <div>
            <div>
                <span>Language</span>
            </div>
            <div>
                <span>Title name</span>
                <span>Username</span>
            </div>
            <div>Time</div>
        </div>
    </div>
</div>
{% endblock %}