{% extends 'system_main/layout.html' %}

{% block title %}Main System View{% endblock %}


{% block content %}
<div class="container">
    <div class="row"></div>   
        <div class="col-md-6">
            <h2>Snippets</h2>
            <ul>
                {% for snippet in snippets %}
                <li>
                    <form method="post" action="{% url 'save_snippet' username project.title snippet.id %}" class="code-form">
                        {% csrf_token %}
                        <div>
                            <div class="editor-container">
                                <textarea id="code-{{ snippet.id }}" name="code" rows="10">{{ snippet.code }}</textarea>
                                <div class="resizer" id="resizer-{{ snippet.id }}"></div>
                            </div>
                        </div>
                    </form>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            <div id="help-option">
                Do you need help?
                <div id="help-options">
                    <button id="please-help" class="btn btn-primary">Please help me</button>
                    <button id="do-it-myself" class="btn btn-secondary">I will do it myself</button>
                </div>
            </div>
            <div id="feedback-container">
                <div>
                    <h3>Feedback</h3>
                    <div class="feedback-options">
                        <a id="without-code" class="feedback-option">Without Code</a>
                        <a id="only-code" class="feedback-option">Only Code</a>
                    </div>
                </div>
                <div>
                    <pre id="feedback"></pre>
                </div>
            </div>
            <h2>Output</h2>
            <div id="output-container">
                <pre id="output"></pre>
                <pre id="error"></pre>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var snippetTextareas = document.querySelectorAll('textarea[id^="code-"]');
        var snippetId = null;
        snippetTextareas.forEach(function(textarea) {
            var editor = CodeMirror.fromTextArea(textarea, {
                lineNumbers: true,
                mode: "python",  // Change to your desired language
                matchBrackets: true,
                autoCloseBrackets: true,
                theme: "dracula"  // Set the theme to dracula for a dark background
            });

            var resizer = document.getElementById('resizer-' + textarea.id.split('-')[1]);
            resizer.addEventListener('mousedown', function(e) {
                e.preventDefault();
                window.addEventListener('mousemove', resize);
                window.addEventListener('mouseup', stopResize);
                
                function resize(e) {
                    editor.setSize(null, e.clientY - editor.getWrapperElement().getBoundingClientRect().top + 'px');
                }

                function stopResize() {
                    window.removeEventListener('mousemove', resize);
                    window.removeEventListener('mouseup', stopResize);
                }
            });

            // Enable real-time resizing
            editor.on("change", function() {
                textarea.value = editor.getValue();
            });

            window.addEventListener('resize', function() {
                editor.setSize("100%", "auto");
            });

            editor.setSize("100%", "auto");

        });

        //FeedBack
        var onlyCodeOption = document.getElementById("only-code");
        var withoutCodeOption = document.getElementById("without-code");
        var feedback = document.getElementById("feedback");
        
        //The Option will appear after debug
        //FeedBack will appear if the option been clicked
         // Handle the help option click
         document.getElementById('please-help').addEventListener('click', function() {
            document.getElementById('feedback-container').style.display = 'block';
            document.getElementById('help-option').style.display = 'none';
            CanActiveDisplay = false;
        });
        
        // Handle the do it myself click
        document.getElementById('do-it-myself').addEventListener('click', function() {
            document.getElementById('help-option').style.display = 'none';
        });

        // Function to send the selected feedback option to the backend
        function sendFeedback(option) {
            var snippetId = document.getElementById('current-snippet-id').value; // Get snippet ID from hidden input
            console.log(snippetId)
            if (!snippetId) {
                alert("No snippet selected");
                return;
            }
            fetch(`/'{{username}}'/'{{project.title}}'/feedback/50/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ feedback_option: option })
            })
            .then(response => {
                if (!response.ok) {
                    return response.text().then(text => { throw new Error(text) });
                }
                return response.json();
            })
            .then(data=> {
                console.log('Feedback option sent successfully:', data);
                if (option == "only_code"){
                    displayFeedbackOnlyCode(data.output,data.diff);
                }
                else {
                    displayFeedbackWithoutCode(data.output)
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred: ' + error.message);
            });
        }

        function displayFeedbackOnlyCode(output,diff) {
            feedback.innerHTML = '<div id="feedback-code"></div>';
            var feedbackCodeDiv = document.getElementById("feedback-code");
            
            diff.forEach(line => {
                var lineElement = document.createElement('div');
                lineElement.textContent = line;
                
                if (line.startsWith('+')) {
                    lineElement.style.backgroundColor = 'rgba(0, 255, 0, 0.2)';  // Green background for additions
                } else if (line.startsWith('-')) {
                    lineElement.style.backgroundColor = 'rgba(255, 0, 0, 0.2)';  // Red background for deletions
                } else if (line.startsWith('@')) {
                    lineElement.style.backgroundColor = 'rgba(0, 0, 255, 0.2)';  // Blue background for line info
                }

                feedbackCodeDiv.appendChild(lineElement);
            });

            feedback.innerHTML += `<p>${output}</p>`;
        }
        

        function displayFeedbackWithoutCode(output){
            document.getElementById("feedback").innerText = output;
        }

        onlyCodeOption.addEventListener("click", function() {
            onlyCodeOption.classList.add("active");
            withoutCodeOption.classList.remove("active");
            feedback.textContent = "Wait for FeedBack Only Code";
            sendFeedback('only_code');
        });

        withoutCodeOption.addEventListener("click", function() {
            withoutCodeOption.classList.add("active");
            onlyCodeOption.classList.remove("active");
            feedback.textContent = "Wait for FeedBack Without Code";
            sendFeedback('without_code');
        });
    });

</script>

<style>
    .editor-container {
        position: relative;
        border: 1px solid #ccc;
    }
    .resizer {
        width: 100%;
        height: 10px;
        background: #333;
        cursor: row-resize;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .CodeMirror {
        background: #282a36; /* Dracula theme background */
        color: #f8f8f2; /* Dracula theme text color */
    }


    .container {
        display: flex;
    }
    .col-md-6 {
        flex: 1;
        padding: 10px;
    }
    
    #output-container {
        border: 1px solid #ccc;
        padding: 10px;
        background: #f8f8f8;
        min-height: 300px;
    }

    #help-option{
        display:none;
        margin-top: 10px; 
        cursor: pointer; 
        padding: 5px 10px; 
        border: 1px solid #ccc; 
        border-radius: 5px; 
        background-color: #f8f9fa;
    }

    #help-options {
        margin-top: 10px;
    }

    #feedback-container {
        display:none;
        margin-top: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        background: #f9f9f9;
    }

    #feedback-container h3 {
        margin-top: 0;
    }

    #feedback {
        padding: 10px;
        background: #fff;
        border: 1px solid #ddd;
        min-height: 100px;
    }

    .feedback-options{
        display:flex;
        justify-content:flex-end;
    }

    .feedback-option {
        cursor: pointer;
        margin-right: 10px;
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-decoration: none;
        color: rgb(71, 0, 185);
        background-color:rgb(220, 232, 248);
    }

    .feedback-option.active {
        background-color: #fff;
        color: black;
        border-color: #007bff;
        border-bottom:none;
        border-bottom-left-radius:0px;
        border-bottom-right-radius:0px;
    }

    .feedback-option:hover{
        text-decoration:none;
    }

</style>
{% endblock %}